# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/artbees-captcha
!web/app/plugins/js_composer_theme
!web/app/themes/jupiter
!web/app/themes/jupiter-child
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

config/backup